.methods {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  background: rgba(28, 28, 28, 1);
  padding: 30px 20px 25px;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-normal);
  margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.method {
  height: 100px !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 20px !important;
  background: linear-gradient(
    90deg,
    rgba(142, 212, 24, 1),
    rgba(108.02506256103516, 185.64013671875, 39.815921783447266, 1) 100%
  ) !important;
  color: var(--color-text-primary) !important;
  font-size: var(--text-2xl) !important;
  font-weight: var(--font-normal) !important;
  line-height: var(--leading-relaxed) !important;
}
