.container {
  margin: 0 auto;
  width: 650px;
  padding: 30px 25px;
  background: #232323;
}

.header {
  margin-bottom: 25px;
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-loose);
}

.subTitle {
  color: var(--color-text-muted);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  line-height: var(--leading-loose);
}
